.msg {
    color: white;
    margin: 5px;
    padding: 15px;
}

.msg-OK {
    background-color: #4BB543;
}

.msg-INFO {
    background-color: #1E92F4;
}

.msg-ERROR {
    background-color: #f23e3e;
}

a, a:visited {
    color: #FE7F2D;
    text-decoration: underline;
}

.bar {
    width: 300px;
}