{% extends "base.html" %}
{% block title %}File uploader{% endblock %}
{% block content %}
    <header>
        <h1>Upload file</h1>
    </header>

    {# {% include "_flashes.html" %} #}


    <div id="dragdrop" class="dragdrop"></div>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <p>
            <label>File: </label>
            <input type="file" multiple name="file" id="file" onchange="upload_file()"/>
        </p>
        <p>
            <progress class="bar" id="bar" value="0" max="100"></progress>
            <div class="msg" id="upload_status"></div><br>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
    <script src="/static/upload.js"></script>
{% endblock %}